/* max-width: 1075px */
@media (max-width: 1075px) {
  .about__dot--1 {
    top: 150px;
    left: 75px;
  }

  .about__dot--2 {
    top: 188px;
    left: 340px;
  }

  .about__dot--3 {
    top: 133px;
    left: 260px;
  }

  .about__dot--4 {
    top: 28px;
    left: 200px;
  }

  .footer__item--company {
    width: 140px;
    padding-left: 0;
  }
}


/* max-width: 840px */
@media (max-width: 840px) {
  .about__item {
    padding: 382px 0 70px;
    background-position: top;
    margin-bottom: 0;
  }
  .about__box {
    margin: 0 auto;
  }

  .about__item:nth-child(even) {
    background-position: top;
  }

 .about__dot {
    display: none;
  }

  .about__images-box {
    padding-top: 10px;
  }

  .footer__items {
    flex-wrap: wrap;
  }

  .footer__item {
    width: 50%;
    margin-bottom: 35px;
    padding-right: 25px;
  }
}


/* max-width: 700px */
@media (max-width: 700px) {
  .header__title {
    font-size: 120px;
    line-height: 150px;
  }

  .header__text {
    font-size: 20px;
  }

  .menu {
    position: relative;
  }

  .menu__btn {
    display: block;
    width: 40px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 10px;
  }

  .menu__btn span {
    display: block;
    margin-bottom: 10px;
    background-color: #ECB84C;
    height: 4px;
  }

  .menu__list {
    display: none;
    padding-top: 60px;
    text-align: center;
    border-bottom: 4px solid #ECB84C;
  }

  .menu__list-link {
    display: block;
    border-top: 4px solid #ECB84C;
    text-transform: uppercase;
    font-weight: 700;
  }

  .menu__list-link:hover {
    /* Чтобы не скакали элементы Меню */
    border-bottom: 4px solid transparent;
  }

  .slick-next {
    right: 20px;
  }

  .slick-prev {
    left: 20px;
  }
}


/* max-width: 540px */
@media (max-width: 540px) {
  .header__text {
    display: none;
  }

  .header__top-inner {
    border: 2px solid #ECB84C;
  }

  .header__top {
    padding: 10px;
  }

  .header__title {
    font-size: 100px;
  }

  .title {
    font-style: 24px;
    line-height: 28px;
  }

  .body {
    font-size: 15px;
    line-height: 24px;
  }

  .reason__statistics {
    display: block;
  }
  .reason__statistics-item {
    margin-bottom: 35px;
  }

  .slick-arrow, 
  .slick-prev, 
  .slick-next {
    display: none !important;
  }
}


/* max-width: 470px */
@media (max-width: 470px) {
  .footer__items {
    display: block;
    text-align: center;
    cursor: pointer;
  }

  .footer__item {
    width: 100%;
    padding-right: 0;
  }

  .footer__item-list {
    display: none;
  }
}


/* max-width: 360px */
@media (max-width: 360px) {
  .about__box {
    padding: 33px 30px;
  }

  .about__box::before {
    left: 10px;
  }

  .about__item:nth-child(even) 
  .about__box::before {
    right: 10px;
  }

  .about__item:nth-child(even) 
  .about__box::after {
    left: 10px;
  }
}


/* min-width: 700px */
@media (min-width: 700px) {
  .menu__list {
    display: flex !important;
  }


}